.DS_Store
.build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/
*.xcuserstate
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
.swiftpm/
Package.resolved
.netrc
xcuserdata/
.claude/
build